@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,500&family=Permanent+Marker&display=swap');

/******************** Main and Body ********************/

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    height: 100%;
    font-family: "Exo 2", "Times New Roman", sans-serif;
    font-weight: 400;
}

/******************** Navbar ********************/

#logo {
    float: left;
    font-family: "Permanent Marker", "Times New Roman", sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: white;
}

.nav-item a {
    font-family: "Exo 2", "Times New Roman", sans-serif;
    font-weight: 400;
    color: white;
}

ul li {
    font-size: 18px;
}

.navbar {
    background-color: #00B4D8 !important;
}

/******************** Footer ********************/

#footer {
    background-color:  #00B4D8;
    height: 60px;
}

footer a {
    font-family: "Exo 2", "Times New Roman", sans-serif;
}

.footer-info {
    color: white;
}

/******************** Post Card ********************/

.card {
    border-color: black;
    background-color: #CAF0F8;
}

.author {
    text-align: center;
    font-style: italic;
}

.post-link {
    text-align: center;
    text-decoration: underline;
    color: #03045E;
}

.card-text {
    text-align: center;
    font-size: 15px;
}