@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,500&family=Permanent+Marker&display=swap');

/******************** Main and Body ********************/

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    height: 100%;
    font-family: "Exo 2", "Times New Roman", sans-serif;
    font-weight: 400;
}

/******************** Navbar ********************/

#logo {
    float: left;
    font-family: "Permanent Marker", "Times New Roman", sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: white;
}

.nav-item a {
    font-family: "Exo 2", "Times New Roman", sans-serif;
    font-weight: 400;
    color: white;
}

ul li {
    font-size: 18px;
}

.navbar {
    background-color: #00B4D8 !important;
}

/******************** Landing Page - Hero Image & Welcome Message ********************/

.hero-img {
    width: 40vw;
}

.welcome-msg {
    text-align: center;
}

.home-title {
    font-family: "Permanent Marker", "Times New Roman", sans-serif;
}

.welcome-secondary {
    font-style: italic;
    font-size: 20px;
}

/******************** Footer ********************/

#footer {
    background-color:  #00B4D8;
    height: 60px;
}

footer a {
    font-family: "Exo 2", "Times New Roman", sans-serif;
}

.footer-info {
    color: white;
}

/******************** Post Card ********************/

.author {
    text-align: center;
    font-style: italic;
}

.post-link {
    text-align: center;
    text-decoration: underline;
    color: black;
}

.card-text {
    text-align: center;
    font-size: 15px;
}

/******************** Pagination Links ********************/

.current {
    position: relative;
    margin-bottom: 2px
}

.pagination {
    height: 120px;
}

.pagination a {
    border-color: #1363DF !important;
    color: #1363DF;
}

/******************** Post Content ********************/

.post-title {
    text-align: center;
}

.post-content {
    text-align: justify;
    border: none;
    background-color: transparent;
}

/******************** Credentials Box - Sign in/Sign up ********************/

.credentials-box {
    background-color: #23A0DC;
    opacity: 0.9;
}

.form-title {
    color: white;
}

.sign-up-link, .sign-in-link {
    color: white;
}

.sign-up-link:hover, .sign-in-link:hover {
    color: #F9F871;
}

/******************** Buttons ********************/

.sign-in-btn, .sign-up-btn, .comment-btn, .write-post-btn {
    border-style: solid 2px white !important;
    background-color: #00B4D8;
    color: white;
}

.sign-in-btn:hover, .sign-up-btn:hover, .comment-btn:hover, .write-post-btn:hover {
    border-style: solid 2px #00B4D8 !important;
    background-color: white;
    color: #00B4D8;
}

/******************** Comments Section ********************/

.comment-card {
    background-color: #F9F871;
    border: none;
}

.comment-header {
    text-align: center;
}

.comment-body {
    border: solid 1px black;
    background-color: white;
}

/******************** Post Form ********************/

.form {
    margin-bottom: 50px !important;
}