@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,500&family=Permanent+Marker&display=swap');

/******************** Main and Body ********************/

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Exo 2", "Times New Roman", sans-serif;
    font-weight: 400;
    height: 100vh;
}

/******************** Navbar ********************/

#logo {
    float: left;
    font-family: "Permanent Marker", "Times New Roman", sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: white;
}

.nav-item a {
    font-family: "Exo 2", "Times New Roman", sans-serif;
    font-weight: 400;
    color: white !important;
}

.navbar {
    background-color: #00B4D8 !important;
}

.active {
    text-decoration: underline;
}

/******************** Landing Page - Hero Image & Welcome Message ********************/

.hero-img {
    width: 40vw;
}

.welcome-msg {
    text-align: center;
}

.home-title {
    font-family: "Permanent Marker", "Times New Roman", sans-serif;
}

.welcome-secondary {
    font-style: italic;
    font-size: 20px;
}

/******************** Footer ********************/

#footer {
    background-color:  #00B4D8;
}

footer a {
    font-family: "Exo 2", "Times New Roman", sans-serif;
}

.footer-info {
    color: white;
}

/******************** Post Card ********************/

.author {
    text-align: center;
    font-style: italic;
}

.post-link, .dive-link {
    text-align: center;
    color: black;
}

.post-link:hover, .dive-link:hover {
    text-align: center;
    color: #00B4D8;
}

.card-text {
    text-align: center;
    font-size: 15px;
}

/******************** Pagination Links ********************/

.current {
    position: relative;
    margin-bottom: 2px
}

.pagination {
    height: 120px;
}

.pagination a {
    border-color: #1363DF !important;
    color: #1363DF;
}

/******************** Post Content ********************/

.post-title {
    text-align: center;
}

.post-content {
    text-align: left !important;
    border: none;
    background-color: transparent;
}

/******************** Credentials Box - Sign in/Sign up ********************/

.credentials-box {
    background-color: #23A0DC;
    opacity: 0.9;
}

.form-title {
    color: white;
}

/******************** Buttons ********************/

.top-page-btn {
    background-color: #00B4D8;
    color: white;
}

.top-page-btn:hover {
    border: solid 2px #00B4D8 !important;
    background-color: white;
    color: #00B4D8;
}

.update-btn {
    background-color: #005B99;
    color: white;
}

.update-btn:hover {
    border: solid 2px #005B99 !important;
    background-color: white;
    color: #005B99;
}

.submit-btn {
    background-color: #005B99;
    color: white;
}

.submit-btn:hover {
    border: solid 2px #005B99 !important;
    background-color: white;
    color: #005B99;
}

.delete-btn {
    background-color: #F79235;
    color: white;
}

.delete-btn:hover {
    border: solid 2px #F79235 !important;
    background-color: white;
    color: #F79235;
}

.sign-up-btn {
    border: solid 2px white !important;
    background-color: #006556;
    color: white;
    width: 20vw;
}

.sign-up-btn:hover {
    border: solid 2px #006556 !important;
    background-color: white;
    color: #006556;
}

.sign-in-btn {
    border: solid 2px white !important;
    background-color: #00A386;
    color: white;
    width: 20vw;
}

.sign-in-btn:hover {
    border: solid 2px #00A386 !important;
    background-color: white;
    color: #00A386;
}

.sign-out-btn {
    border: solid 2px white !important;
    background-color: #9D4F98;
    color: white;
    width: 20vw;
}

.sign-out-btn:hover {
    border: solid 2px #9D4F98 !important;
    background-color: white;
    color: #9D4F98;
}

/******************** Comments Section ********************/

.comment-card {
    border: none;
}

.comment-header {
    text-align: center;
}

.comment-body {
    border: solid 1px black;
    background-color: white;
}


/******************** Logbook App ********************/

.logbook-prompt {
    position: absolute;
    top: 25%;
    left: 5%;
    width: 90%;
}

.dive-card {
    width: 40vw;
    border: 1px solid #00B4D8;
}

.turtle-img {
    width: 12%;
}


/******************** Media Queries ********************/

/******************** Screens of 1024px width and down ********************/

@media screen and (min-width: 380px) and (max-width: 1024px) {
    .hero-img, .welcome-msg, .logbook-prompt {
        position: relative;
        top: 25vh;
    }
  }

/******************** Screens of 380px width and down ********************/

@media screen and (max-width: 380px) {
    .navbar {
      width: 100vw;
    }

    #footer {
        width: 100vw;
        position: relative;
        bottom: 0;
    }

    .footer-margin {
        height: 300px;
    }
  }

/******************** Screens of 320px width and down ********************/

@media screen and (max-width: 320px) {
    .navbar {
      width: 130vw;
    }

    #footer {
        width: 130vw;
    }

    .footer-info {
        position: relative;
        left: auto;
    }

    .hero-img, .welcome-msg {
        position: relative;
        left: 25%;
    }

    .top-page-btn, .main-content, .pagination, .main-form, 
    .post-top, .edit-delete-btns, .comment-card, .delete-msg, 
    .dive-card, .credentials-box, .logbook-prompt {
        position: relative;
        left: 15vw;
    }
  }