{% extends "base.html" %}

{% block content%}

<div class="container">
    <div class="row ">
        <div class="col mt-4 delete-msg">
            <div class="mt-2 card">
                <div class="card-body mb-5">
                    <h2 class="text-center"><em>{{ dive.title }}</em></h2>
                    <form method="post">
                        {% csrf_token %}
                        <h4 class="text-center">
                            Are you sure you want to delete the dive <em>"{{ dive.title }}"</em>? <br>
                            This action is irreversible.
                        </h4>
                        <div class="text-center mt-4">
                            <button type="submit" class="btn delete-btn mr-4" aria-label="confirm-deletion">Yep, I'm sure. Delete.</button>
                            <a class="btn btn-outline-secondary" href="{% url 'logbook' %}" aria-label="abort-deletion">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-margin"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="message" role="alert">
                {{ message | safe}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content%}