{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        {% if user.is_authenticated %}
        <div class="col mt-4">
            <button class="btn btn-light btn-lg btn-block write-post-btn">Write a post</button>
        </div>
        {% endif %}

        <div class="col-12 mt-4">
            <div class="row justify-content-center">
            {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.image.url %}
                                <img class="card-img-top" 
                                    src="https://res.cloudinary.com/dazl3vfnm/image/upload/v1655218629/The%20Underwater%20Gang%20-%20PP4/first-post_vlo4lg.jpg" 
                                    alt="">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.image.url }}" alt="">
                                {% endif %}
                                <div>
                                    <p class="author text-muted">By: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_content' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                            </a>
                            <hr>
                            <p class="card-text text-muted h6">{{ post.created_on }} <i class="far fa-heart"></i></p>

                        </div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row justify-content-center">
                {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>

    {% if is_paginated %}
    <div class="pagination justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-outline-info mx-1 mb-1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info mx-1 mb-1">Previous</a>
            {% endif %}

            <span class="current mx-2">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info mx-1 mb-1">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info mx-1 mb-1">Last &raquo;</a>
            {% endif %}
        </span>
        {% endif %}
    </div>
</div>


{% endblock %}