{% extends "base.html" %}

{% block content %}

<div class="container home">
    <div class="row mt-5">
        <div class="col-10 offset-1 text-center px-0">
            <img class="img-fluid hero-img" src="https://res.cloudinary.com/dazl3vfnm/image/upload/v1656067935/The%20Underwater%20Gang%20-%20PP4/rush-diver_kemhat.png" alt="A scuba diver drawing">
        </div>
    </div>
    <div class="row mt-5 col-10 offset-1 justify-content-center mb-5">
        <div class="col text-center">
            <h1 class="welcome-msg home-title">Welcome to The Underwater Gang!</h1>
            <p class="welcome-msg welcome-secondary mt-4">
                Scuba diving can be both exciting and overwhelming.<br>
                With our blog and logbook, <br> 
                we're here to help you go deeper<br>
                in your underwater adventures.
            </p>
        </div>
    </div>
</div>
<div></div>

{% endblock %}