{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row mt-5 col-8 offset-3">
        <div class="col px-0">
            <img class="img-fluid hero-img" src="https://res.cloudinary.com/dazl3vfnm/image/upload/v1656067935/The%20Underwater%20Gang%20-%20PP4/rush-diver_kemhat.png" alt="">
        </div>
    </div>
    <div class="row mt-5 col-10 offset-1 justify-content-center">
        <div class="col justify-content-center">
            <h1 class="welcome-msg home-title">Welcome to The Underwater Gang!</h1>
            <p class="welcome-msg welcome-secondary mt-4">
                Scuba diving can be both exciting and overwhelming.<br>
                With our blog and personal log book,<br> 
                we're here to help you go deeper<br>
                in your underwater adventures.
            </p>
        </div>
    </div>
</div>

{% endblock %}