{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-12 mt-4">
                <a href="{% url 'log_dive' %}" role="button" class="btn btn-light btn-lg btn-block w-50 offset-3 top-page-btn" aria-label="log-dive-link">Log a dive</a>    
            </div>
        </div>
        {% for dive in dive_list %}
            {% if user.id == dive.diver.id %}
                <div class="row">
                    <div class="col-12 mt-4 mb-2 d-flex justify-content-center">
                        <div class="card dive-card">
                            <a href="{% url 'dive_details' dive.slug %}" class="dive-link">
                                <div class="card-body text-center">
                                    <h5 class="card-title"><strong>{{ dive.title }}</strong></h5>
                                    <p class="card-text">
                                    {{ dive.date }} - <em>{{ dive.location }}</em>
                                    </p>                   
                                    {% if user.id == dive.diver.id %}
                                    <div class="row">
                                        <div class="col-12 mt-3 text-center">
                                            <a href="{% url 'update_dive' dive.slug %}" class="btn update-btn mr-4">Update</a>
                                            <a href="{% url 'delete_dive' dive.slug %}" class="btn delete-btn ml-4">Delete</a>
                                        </div>                                        
                                    </div>     
                                    {% endif %}                                       
                                </div>                                
                            </a>               
                        </div>        
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% elif not user.is_authenticated %}
        <div class="row logbook-prompt">
            <div class="col-12 text-center">
                <div>
                    <p>
                    Sorry, the logbook is only available  to registered divers! <br>
                    To access it, please sign-up here: <br>
                        <a href="{% url 'account_signup' %}" role="button" class="btn sign-up-btn mt-2" aria-label="signup-link">Sign up</a> <br>
                    </p> 
                    <p>
                    If you already have an account, please sign in here: <br>
                        <a href="{% url 'account_login' %}" role="button" class="btn sign-in-btn mt-2" aria-label="signin-link">Sign in</a>
                    </p>
                </div>
                <div class="col-12 mt-5">
                    <div class="col">
                        <img class="img-fluid turtle-img" src="https://res.cloudinary.com/dazl3vfnm/image/upload/v1664545211/The%20Underwater%20Gang%20-%20PP4/sea-turtle_icie77.png" alt="A turtle">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if is_paginated %}
    <div class="pagination justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-outline-info mx-1 mb-1" aria-label="first-page">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info mx-1 mb-1" aria-label="previous-page">Previous</a>
            {% endif %}
            <span class="current mx-2">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info mx-1 mb-1" aria-label="next-page">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info mx-1 mb-1" aria-label="last-page">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
</div>

{% endblock %}