{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-md-10">
            
            <div class="row">
                <div class="col col-md-12">
                    {% if "placeholder" in post.image.url %}
                    <img class="card-img-top post-image mt-4" 
                        src="https://res.cloudinary.com/dazl3vfnm/image/upload/v1655218629/The%20Underwater%20Gang%20-%20PP4/first-post_vlo4lg.jpg" 
                        alt="">
                    {% else %}
                    <img class="card-img-top" src=" {{ post.image.url }}" alt="">
                    {% endif %}
                    <h2 class="post-title mt-4"> {{ post.title }}</h2>
                    <p class="author text-muted">By: {{ post.author }}</p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col col-md-12 card card-body post-content mb-5">
                    <p class="card-text">
                        {{ post.content | safe }}
                    </p>
                    <div class="row mb-4">
                        <div class="col">
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{ post.slug }}"><i class="fa fa-solid fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{ post.slug }}"><i class="fa-regular fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <i class="fa-regular fa-heart"></i>
                            {% endif %}
                            {{ post.likes_tally }}
                            {% with total=comments.count %}
                            <i class="fa-solid fa-comment"> {{ total }}</i>
                            {% endwith %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 mt-4 card comment-card">
                            <div class="card-body">
                                {% if commented %}
                                <div class="alert alert-info" role="alert">
                                    Your comment has been successfully submitted and is now awaiting approval.
                                </div>
                                {% else %}

                                {% if user.is_authenticated %}
                                <h3 class="comment-title">Let us know what you think!</h3>
                                <p>Diver: {{ user.username }}</p>
                                <form method="post">
                                    {{ comment_form | crispy }}
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-light comment-btn">Submit</button>
                                </form>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-7 mt-4 card comment-card">
                            <div class="card-body">
                                <h3 class="comment-header">Comments</h3>
                                {% for comment in comments %}
                                <div class="card-text text-left comment-body pt-1 pl-2">
                                    <p>By: {{ comment.name }}</p>
                                    <p>{{ comment.content }}</p>
                                    <p>{{ comment.created_on}}</p>                    
                                </div>
                                {% endfor%}
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col">
                            {% if user.is_authenticated %}
                            <div>
                                <a href="{% url 'post_update' post.slug %}" class="btn btn-light comment-btn mt-4">Update this post</a>
                            </div>
                            <div>
                                <a href="{% url 'post_delete' post.slug %}" class="btn btn-outline-danger mt-4">Delete this post</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>


                </div> 
            </div>
        </div>
    </div>
</div>

{% endblock %}